body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
  /* como fazer algumas alterações referentes 
  ao fundo(background) do site.*/



